textarea {
    width: 100%;
    resize: none;
    height: 100vh;
    border: 0;
    font-size: 18px;
}

.removePadding {
    padding: 0;
}

.redered {
    word-break: break-all;
    word-wrap: break-word;

}